---
import Layout from "../../layouts/Layout.astro";
import Equipos from "../../components/Equipos.vue";
import CrearEquipos from "../../components/CrearEquipos.vue";
import Ruleta from "../../components/Ruleta2.vue";

// Obtener el parámetro id de la URL
const { id } = Astro.params as { id: string };

// Función para generar rutas
export async function getStaticPaths() {
	const API_URL = import.meta.env.PUBLIC_API_URL;
	const res = await fetch(API_URL + `/api/instancias/`);
	const instancias = await res.json();

	return instancias.map((instancia: any) => ({
		params: { id: instancia.id.toString() },
	}));
}
---

<Layout>
	<div class="flex justify-between items-start w-full h-full">
		<!-- Lado Izquierdo -->
		<div class="basis-1/4 grow h-full">
			<!-- Lista de Equipos de la Instancia -->
			<Equipos id={id} client:load />
		</div>
		<!-- Lado Central -->
		<div class="basis-2/4 grow h-full">
			<!-- Ruleta Aleatoria -->
			<Ruleta client:load></Ruleta>
		</div>
		<!-- Lado Derecho -->
		<div class="basis-1/4 grow h-full">
			<!-- Detalles o Configuraciones de la Ruleta -->
			<CrearEquipos id={id} client:load />
		</div>
	</div>
</Layout>

