---
import Layout from "../../layouts/Layout.astro";
import Equipos from "../../components/Equipos.vue";

// Obtener el parámetro id de la URL
const { id } = Astro.params as { id: string };

// Función para generar rutas
export async function getStaticPaths() {
	const API_URL = import.meta.env.PUBLIC_API_URL;
	const res = await fetch(API_URL + `/api/instancias/`);
	const instancias = await res.json();

	return instancias.map((instancia: any) => ({
		params: { id: instancia.id.toString() },
	}));

	// Si no se puede acceder a la API, puedes usar datos de ejemplo como los siguientes:
	/* const instancias = {
		value: [
			{
				id: 1,
				semestre: "2025-1",
				profesor: "Luis Silvestre",
			},
			{
				id: 2,
				semestre: "2025-2",
				profesor: "Luis Silvestre",
			},
			{
				id: 3,
				semestre: "2026-1",
				profesor: "Luis Silvestre",
			},
			{
				id: 4,
				semestre: "2026-1",
				profesor: "Luis Silvestre",
			},
			{
				id: 5,
				semestre: "2026-1",
				profesor: "Luis Silvestre",
			},
			{
				id: 6,
				semestre: "2026-1",
				profesor: "Luis Silvestre",
			},
			{
				id: 7,
				semestre: "2026-1",
				profesor: "Luis Silvestre",
			},
			{
				id: 8,
				semestre: "2026-1",
				profesor: "Luis Silvestre",
			},
			{
				id: 9,
				semestre: "2026-1",
				profesor: "Luis Silvestre",
			},
			{
				id: 10,
				semestre: "2026-1",
				profesor: "Luis Silvestre",
			},
		],
	};

	return instancias.value.map((instancia: any) => ({
		params: { id: instancia.id.toString() },
	})); */
}
---

<Layout>
	<!-- Lista de Equipos de la Instancia -->
	<div class="flex justify-between items-start w-full">
		<div class="basis-1/4 grow">
			<Equipos id={id} client:load />
		</div>

		<div class="basis-2/4 grow">
			<!-- Ruleta Aleatoria -->
		</div>

		<div class="basis-1/4 grow">
			<!-- Detalles o Configuraciones de la Ruleta -->
		</div>
	</div>
</Layout>
