---
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import "@fontsource-variable/inter";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ruleta Aleatoria</title>
	</head>
	<body class="bg-zinc-950 text-zinc-50 h-screen overflow-hidden">
		<div class="flex flex-col h-full">
			<Navbar client:load />
			<!-- Contenido principal -->
			<main class="h-full flex flex-col overflow-hidden">
				<slot />
			</main>
			<Footer client:load />
		</div>
	</body>
</html>

<style is:global>
	body {
		font-family: 'Inter Variable', sans-serif;
		overflow-y: auto;
	}

	.hide-scrollbar {
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none; /* IE 10+ */
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none; /* Chrome, Safari, Edge */
	}
</style>
