---
import Navbar from "../components/Navbar.vue";
import Footer from "../components/Footer.vue";
import '@fontsource-variable/inter';
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ruleta Aleatoria</title>
	</head>
	<body class="bg-zinc-950 text-zinc-50">
		<main class="flex flex-col items-center justify-between w-full h-screen overflow-hidden">
			<Navbar client:load/>
			<slot />
			<Footer client:load/>
		</main>
	</body>
</html>

<style>
	body {
		font-family: 'Inter Variable', sans-serif;
	}
</style>
